.login {
  min-height: 100vh;
  width: 100%;
  padding: 70px 130px;
  background-color: #61c3d7;
}
.login__form{
  border-right: 1px solid rgb(255, 255, 255);
}

.login__form-control {
  display: block;
  height: 45px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 2px solid #ecf0f1;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 25px;
}

.login__h3 {
  font-size: 37px;
  color: #fff;
  text-align: center;
}

.login__span {
  font-size: 19px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px !important;
}

.login__h4 {
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
}

/* .login::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 1px;
  height: 200px;
  top: 210px;
  left: 51.5%;
  display: block;
} */
.login__login__btn {
  color: #fff;
  border: 2px solid #084975;
}
.singup__forget{
  color: #fff;
  margin-left: 10px;
}
.singup__forget:hover{
  color: #084975;
  text-decoration: none; 
}
.login__text{
  padding-left: 65px;
}
.login__text__h5{
  color: #fff;
}
.login__text__h6{
  color: #fff;
  font-size: 13px;
  margin: 10px 0;
}
.login__text__span a{
  color: #fff;  
  display: block;
  font-size: small;
  margin:10px 0;
  font-size: 19px;
}
.login__text__span a:hover{
  text-decoration: none;
  color: #084975;
}

/*Meida queries
/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
*/


@media (max-width: 992px) {

  .login::after {

    display: none;
  }
  .singup__forget{
    color: #fff;
    margin-left: 5px;
  }
  .login__text{
    margin-top: 30px;
    padding-left: 10px;
  }
  .login {
    padding: 50px;
  }
  
  }
  