html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* **********************************************************************
**** Start Upper Bar
**************************************************************************/

.upper-bar {
    background-color: #0facf3 !important;
    color: #fff;
    font-family: segoe-medium, Helvetica, Arial;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 38px;
}

.upper-bar .contact a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.upper-bar .contact .fas {
    color: #fff;
}

.upper-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.upper-bar ul li {
    float: left;
}

.upper-bar ul li a {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
}

.upper-bar ul li .lang {
    background-color: #fff !important;
    padding: 1px 5px;
    border: 1px solid #fff !important;
    border-radius: 2px;
    color: #004876 !important;
    font-weight: 500;
    padding-bottom: 5px;
}

.upper-bar ul li .lang:hover {
    background-color: #004876 !important;
    color: #fff !important;
    border-color: #004876 !important;
}

.upper-bar ul li a {
    margin-bottom: 3px !important;
}

.upper-bar ul li a:hover {
    color: rgba(0, 0, 0, 0.067);
}

.upper-bar .doctor {
    border: 1px solid #FFF;
    padding: 3px 9px;
    margin-left: 10px;
    font-size: 13px;
}

.upper-bar .doctor:hover {
    color: #152f4f;
}

.upper-bar .dropdown-menu .dropdown-item a {
    color: #08526d !important;
    text-decoration: none;
}

/* ***********************************************************************************************
*Start NavBar Bar
**************************************************************************************************/
.navbar {
    background-color: #fff !important;
    /* height: 60px; */
}

.navbar .navbar-nav .nav-link {
    color: #08526d;
    font-size: 14px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #08526d;

}

.navbar .navbar-brand .media {
    display: none;
}

.navbar .doc-media {
    display: none;
}

.navbar .contact-media-nav {
    display: none;
}

/*--------------------------------------------------------------------------------------------------------
                                * FOOTER SECTION *
--------------------------------------------------------------------------------------------------------*/
.upper-footer {
    padding: 50px 50px 10px;
    background-color: #185a9d;
    color: white;
}

.upper-footer .footer-logo img {
    margin-bottom: 10px;
    margin-left: -30px;
    margin-top: -20px;
}

.upper-footer h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    opacity: 1;
}

.upper-footer ul li {
    color: rgb(209, 209, 209);
    padding: 7px 0;
    font-size: 14px;
}

.upper-footer ul li a {
    text-transform: uppercase;
    color: rgb(209, 209, 209);
    transition: color 0.2s;
    font-size: 14px;
    text-decoration-line: none;
    -moz-text-decoration-line: none;

}

.upper-footer ul li a:hover {
    color: #4180cb
}

.upper-footer .fab {
    background-color: #fff;
    border-radius: 3px;
    color: #152f4f;
    height: 27px;
    width: 27px;
    padding: 3px 0px 0 4px;
    font-size: 21px;
    transition: color 0.2;
}

.upper-footer .fab:hover {
    color: #4180cb;
}

.upper-footer p {
    font-size: 16px;
}

.upper-footer .social-icon {
    margin-bottom: 45px;
    margin-top: 45px;
}

.upper-footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.upper-footer .contactus .fas {
    font-size: 16px;
    color: #fff;
    padding-right: 7px;
}

.upper-footer .contactus h6 {
    font-size: 14px;
}

.upper-footer .contactus p {
    font-size: 12px;
    margin: 0;
}

.upper-footer .contactus .egy-address {
    margin-top: 10px;
}

.upper-footer .contactus .egy-address h6 {
    padding-top: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
}

.upper-footer .contactus .egy-address span {
    font-weight: 300;
}

.upper-footer .contactus .egy-address p {
    margin: 0;
    font-size: 12px;
}

/* ***********************************************************************************************
* Start Booking Landing Page
**************************************************************************************************/
.main {
    min-height: calc(100vh - 38px - 80px - 40px);
}

/* general search */
.filtering {
    /* background-color: #f2fafd; */
    padding: 70px 0px 70px 0px;
    background-color: #61c3d7;
}

.filtering h4 {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}

.filtering .mega-search .form-control{

    border-radius: 0;
}
.filtering .mega-search .mega_search {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.filtering .btn-primary {
    display: none;
}

.filtering .btn-warning {
    border-radius: 0;
    color: #fff;
    background-color: #0facf3;
    border: none;
    height: 45px;
    font-weight: 700;
}

.filtering .btn-warning:hover {
    color: #fff;
    background-color: transparent;
}

/*
------------------------------
nabada-features
------------------------------
*/
.new-services {
    /* background: #61c3d7; */
    padding: 70px 35px;
    color: #ffffff
}

.new-services .service-item {
    margin-bottom: 15px
}

.new-services i.service-icon {
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center
}

.new-services h5 {
    font-size: 18px;
    margin: 10px 0;
}

.new-services p {
    margin-bottom: 0;
}

.new-services a {
    font-size: 12px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

/*
------------------------------
end-nabada-features
------------------------------
*/

.main .bewell-app {
    background-color: #f2fafd;
    padding: 20px 70px;
    min-height: 100vh;

}

.bewell-app .mobile-app img {
    margin: 30px 0;
}

.bewell-app .mobile-app-query img {
    display: none;
}

.bewell-app .mobile-app-desc {
    padding: 70px 70px;
}

.bewell-app .mobile-app-desc h1 {
    font-size: 45px;
    color: #00234B;
    font-family: unset;
    font-weight: bold;
    margin-bottom: 50px;
}

.bewell-app .mobile-app-desc ul li {
    font-size: 19px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #00234B;

}

.bewell-app .send-app-link {
    width: 65%;
    padding: 80px 0;
}

.bewell-app .send-app-link .btn-warning {
    border-radius: 0;
    color: #fff;
    background-color: #61c3d7;
    border: none;
    height: 45px;
    font-weight: 700;
}

.bewell-app .send-app-link .btn-warning:hover {
    color: #fff;
    background-color: #0facf3;
}

.bewell-app .send-app-link label {
    opacity: 1.2;
    font-weight: 600;
    color: #00234B;
}

.bewell-app .send-app-link .form-control {
    border: none;
    border-radius: 0;
    height: 45px;
}

.bewell-app .send-app-link img {
    padding-top: 70px;
}

.a-good-doc {
    background-color: #f2fafd;
    padding: 150px 70px 150px 70px;
    height: 100vh;
}

.a-good-doc .doc-img img {
    max-width: 100%;
}

.a-good-doc h1 {
    font-size: 50px;
    color: #00234B;
    font-family: unset;
    font-weight: bold;
    margin-bottom: 50px;
}

.a-good-doc h4 {
    color: #00234B;
    font-family: unset;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 21px;
}

.a-good-doc ul {
    margin-left: 20px;
    margin-bottom: 40px;

}

.a-good-doc ul li {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 7px;
    color: #00234B;
    letter-spacing: 1px;
}

.a-good-doc .btn-warning {
    border-radius: 0;
    color: #fff;
    background-color: #61c3d7;
    ;
    border: none;
    height: 45px;
    width: 40%;
    font-weight: 700;
}

.a-good-doc .btn-warning:hover {
    color: #fff;
    background-color: #0facf3;
}

.a-good-doc .doc-quest {
    margin: auto 0;
}

.partners {
    padding: 70px 0px 70px 70px;
    min-height: 100vh;
}

.partners img {
    max-width: 85%;
    display: block
}

.partners .wide-logo img {
    margin: 30px 0;
}

.partners .squar-logo {
    margin-top: -10px;
}

.partners .squar-logo img {
    margin: 35px 20px;

}

.partners h1 {
    font-size: 50px;
    color: #00234B;
    font-family: unset;
    font-weight: bold;
    margin-bottom: 50px;
    width: 80%;
}

.partners .part-desc {
    height: 100%;
    margin: auto 0;
}

.partners h4 {
    color: #00234B;
    font-family: unset;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
}

.partners .btn-warning {
    border-radius: 0;
    color: #fff;
    background-color: #61c3d7;
    border: none;
    height: 45px;
    width: 60%;
    font-weight: 700;
}

.partners .btn-warning:hover {
    background-color: #0facf3;
    color: #fff;
}

/*Major bewell fatures */

.services {
    background-color: #f2fafd;
    padding: 70px 20px 70px 30px;
}

.services h1 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: #224358;
}

.services h4 {
    margin-bottom: 63px;
    font-size: 16px;
    line-height: 24px;
}

.services .feature-card {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
    -webkit-transition: color 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, box-shadow 200ms ease;
    margin-bottom: 20px;
    height: 160px;
}

.services .feature-card:hover {
    box-shadow: 2px 2px 4px 3px rgba(129, 129, 129, 0.2);
}

.services .feature-card h5 {
    color: #0596de;
    font-weight: 700;
    opacity: 1;
    font-size: 16px;
}

.services .feature-card p {
    font-size: 14px;
    color: #224358;
    margin-top: 18px;
    margin-bottom: 0;
}



/* ***********************************************************************************************
*Start Doctors List Page #00234B  line 569
**************************************************************************************************/

.doctor-info{
    padding: 0 30px;
}

.help-filter .btn {
    width: 100%;
    margin-bottom: 10px !important;
}
.doctor-info h5 {
    font-size: 14px;
}
.doctor-info h6 {
    font-size: 12px;
}

.doctor-info .card {
    margin: 20px 0 !important;
    transition: 0.3s;
}


.doc-carousel img{
  width: 120px;
  height: 120px;
}
.item {
    width: 80px;
}
.item .btn-primary{
    font-size: 13px ;
    background-color: #0facf3;
    border: #0facf3;
    min-width: 70px;
}
.day-date {
    font-size: 14px;
}

.owl-nav {
  font-size: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
}
.owl-nav button{
  outline: none;
  background: #ffffff!important;
  color: #555!important;
}
.owl-nav .owl-prev{
  position: absolute;
  left: -20px;
  top: 20px
}
.owl-nav .owl-next{
  position: absolute;
  right: 0px;
  top: 20px
}


/* ***********************************************************************************************
    *Start Doctors Details and confirm Reservation Time  Page
**************************************************************************************************/

.doctor-card .doctor-card__title{
    padding: 15px 0  0  0;
}
.doctor-card .doctor-card__title img{
    max-width: 120px !important;
    max-height: 120px !important;
    border-radius: 100%;
    background: rgb(192, 186, 186);
}
.doctor-card .doctor-card__title h3{
    font-size: 19px;
    color: #00234B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.doctor-card .doctor-card__title h4{
    font-size: 12px;
    color: #00234B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.doctor-card .doctor-card__side{
    background-color: rgb(243, 243, 243);
    padding: 30px 35px;
    min-height: calc(100vh - 158px);
    border-radius: 9px;
}

.doctor-card .doctor-card__side h1{
    font-size: 23px;
    font-weight: bold;
    color: #00234B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    padding-bottom:15px ;
    border-bottom: 1px solid #999999;
}
.doctor-card .doctor-card__side h4{
    font-size: 16px;
    color: #00234B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-bottom:15px ;
    border-bottom: 1px solid #999999;
}

.doctor-card .doctor-card__side button{
    margin-top:25px
}
.doctor-card .doctor-card__about-doctor{
    background-color: #fff;
    padding: 50px;
}
.doctor-card .doctor-card__about-doctor h1{
    font-size: 23px;
    color: #00234B;
}
.doctor-card .doctor-card__about-doctor p{
    font-size: 14px;
    color: #00234B;
}

.promo-code .promo_code{
    background-color: transparent; 
    color: #17a2b8; 
}
.promo-code .modal-content{
    width: 350px;
    height: 150px;
}
.promo-code .modal__header{
    padding: 15px;
}
.promo-code .modal__body{
    padding-bottom: 15px; 
}
.promo-code .modal__body .btn{
    color: #fff;
}
.success-modal .modal-content{
    padding: 30px 20px ;
    border: 0;
    border-radius: 0;
}
.success-modal .modal-body{
    padding: 10px 20px ;
}
.success-modal .cash-back{
    color: rgb(65, 155, 65);
    font-weight: 600;
}
.success-modal h3{
    font-size: 19px;
    margin-bottom: 15px;
}
.success-modal small{
    display: block;
}
.success-modal .fas{
    margin-bottom: 30px;
    color: #65b365;
}
.success-modal img{
    max-width: 190px;
}
.success-modal .modal_footer .far{
    position: absolute;
    top: 15px;
    right: 10px;
}




.expired-code .modal-content{
    padding: 30px 20px ;
    border: 0;
    border-radius: 0;
}
.expired-code .modal-body{
    padding: 10px 20px ;
}
.expired-code .cash-back{
    color: rgb(226, 118, 114);
    font-weight: 600;
}
.expired-code h3{
    font-size: 19px;
    margin-bottom: 15px;
}
.expired-code small{
    display: block;
}
.expired-code .modal-body .far{
    margin-bottom: 30px;
    color:  rgb(226, 118, 114);
}

.expired-code img{
    max-width: 190px;
}
.expired-code .modal_footer .far{
    position: absolute;
    top: 15px;
    right: 10px;
}



/* ***********************************************************************************************
    *Start Clinics Page
**************************************************************************************************/
#clinics-body {
    background-color: #f2fafd;
}

.all-clincs {
    padding: 50px 70px;
}

.all-clincs h3 {
    font-size: 19px;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #004f6d
}

.all-clincs .card {
    background-color: #fff;
    padding: 10px 19px;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
    -webkit-transition: color 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, box-shadow 200ms ease;
    border-color: transparent;
    /* max-width: 48% !important; */
    margin: 0 11px;
    border-radius: 8px;
}

/* ***********************************************************************************************
    *Start specialty Page
**************************************************************************************************/


.specialties {
    background-color: #f2fafd;
    padding: 70px 30px;
}

.specialties img {
    transition: transform .5s;
}

.specialties img:hover {
    transform: scale(1.07);
}

.specialties h4 {
    color: #224358;
    font-size: 19px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 0 50px;
    width: 80%;
    text-align: left;
}

.specialties a {
    text-decoration: none;
}

.specialties h5 {
    font-size: 1.0rem;
    color: #005073;
    opacity: 1;
    margin-top: 9px;
    margin-bottom: 60px;
    transition: transform .5s;

}

.specialties h5:hover {
    transform: scale(1.05);
}

.specialty-features {
    background-color: #5757ff;
    padding: 70px 30px;
}

.specialty-features img {
    max-width: 100%;
    vertical-align: middle;
}

.specialty-features h3 {
    font-weight: 700;
    color: #fff;
    padding: 15px 40px;
}

.specialty-features p {
    color: #fff;
    padding: 0px 40px;
}

/* features-2 section */

.specialty-features-2 {
    background-color: #f2fafd;
    padding: 70px 30px;
}

.specialty-features-2 img {
    max-width: 100%;
    vertical-align: middle;
}

.specialty-features-2 h3 {
    font-weight: 700;
    color: #224358;
    padding: 15px 40px;
}

.specialty-features-2 p {
    color: #224358;
    padding: 0px 40px;
}

/* features -3 section */

.feature-3 {
    background-color: #f8f8fb;
    padding: 70px 30px;
}

.feature-3 .secur-img {
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
}

.feature-3 h4 {
    font-size: 30px;
    color: #224358;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.feature-3 p {
    width: 60%;
    margin: 0 auto;
    color: #224358;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.feature-3 a {
    color: #0596de;
    font-weight: 700;
    text-decoration: none;
    margin-top: 50px !important;
}

/* ***********************************************************************************************
    *Doctor Details
**************************************************************************************************/
.doctor-details {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px  30px;
    margin-top: 30px;
    margin-bottom: 50px; */
    padding:  30px 50px;
}

.doctor-details .card-img{
    height: 100%;
}
.doctor-details .card p{
    margin-bottom: 7px;
}
@media (max-width: 768px){
    .doctor-details {
        padding: 30px 0;
    }
}


/* ***********************************************************************************************
    *Login page
**************************************************************************************************/
.login {
    width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 30px;
}

.login:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login h1 {
    margin: 20px 0;
    font-size: 27px;
    text-align: center;
}

.result-details {
    margin-left: 90px;
}

.login .btn-lg {
    display: block;
    width: 100%;
    margin: 25px 0;
}

.reservee-result .avatar {
    margin-left: 100px;
}

/* ***********************************************************************************************
    Contact-us page
**************************************************************************************************/
.contact-us-area {
    width: 75%;
    margin: 50px auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 50px;
    background-color: #fff;
}

/* .contact-us-area:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
.contact-us-area h3 {
    margin-bottom: 30px;
    color: #004876;
}

.contact-us-area .form-control {
    border: none;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    width: 95%;
    margin-bottom: 20px;

}

.contact-us-area .form-control::placeholder {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 600;
}

.contact-us-area label {
    margin-left: 20px;
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 0px !important;
}

.contact-us-area .btn {
    background-color: #004876;
    color: #fff;
    border-color: #004876;
    margin-top: 30px;
    border-radius: 30px;
    width: 200px;
}

.contact-us-area p {
    font-size: 13px;
    margin-top: 20px;
    color: rgb(141, 141, 141);
}

.contact-us-area p span {
    color: #004876;
}

/* ***********************************************************************************************
lab style
**************************************************************************************************/
.labs-bgc {
    background-color: #f2fafd !important;
}

.labs .labs-card {
    margin: 30px 30px 30px 0;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
    -webkit-transition: color 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, box-shadow 200ms ease;
}

.labs .labs-card:hover {
    box-shadow: 2px 2px 4px 3px rgba(129, 129, 129, 0.2);

}

.labs .labs-card h3 {
    color: #004876;
}

.labs .labs-search {
    margin: 30px 0;
}

.labs .collapse-toggle p {
    margin-bottom: 30px;
}

.labs .collapse-toggle button {
    width: 100%;
    height: 45px;
    text-align: start;
    background-color: #0facf3;
    border-color: #0facf3;
}

.labs .collapse-toggle button .fas {
    font-weight: 600;
    text-align: end;
    position: absolute;
    font-size: 21px;
    right: 38px;
    top: 13px;
}

.labs input[type=checkbox] {
    margin: 0;
    /* -webkit-transform: scale(1.5);  */
    padding: 0;
}

.labs .form-check {
    margin: 5px 5px;
    padding: 0;
}

.labs label {
    font-size: 15px;
    margin-left: 7px;
}

.labs .collapse-toggle .card {
    margin-top: -10px;
    margin-bottom: 30px;
}

.labs .home-visit {
    margin-top: 30px;
}

.labs .home-visit h3,
label {
    color: #004876;
    opacity: 0.8;
}

.labs .home-visit label {
    color: #004876;
    opacity: 0.8;

}

.labs .home-visit {
    margin: 30px 0;

}

.labs .home-visit .btn-warning {
    background-color: #004876;
    border-color: #004876;
    color: #fff;
}

.labs .home-visit #giza_areas {
    display: none;
}

.labs .home-visit #cairo_areas {
    display: none;
}

.labs .home-visit .rad-giza {
    display: none;
}

.labs .home-visit #mohandesen_branch {
    display: none;
}

.labs .home-visit #dwontwon_branch {
    display: none;
}

.labs .home-visit #east_cairo_branch {
    display: none;
}

.labs .home-visit #shubra_branch {
    display: none;
}

.labs .home-visit #maadi_branch {
    display: none;
}

.labs .home-visit #heliopolis_branch {
    display: none;
}

.labs .home-visit #nasr_city_branch {
    display: none;
}

.labs .home-visit #new_cairo_branch {
    display: none;
}

.labs .home-visit #giza_branch {
    display: none;
}

.labs .home-visit #fasial_branch {
    display: none;
}

.labs .home-visit #october_branch {
    display: none;
}

/* ***********************************************************************************************
    Home Visit  Reservsation Page
**************************************************************************************************/

.notification {
    margin: 70px 0;
}

.notification .process::before {
    top: 245px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 96%;
    height: 1px;
    background-color: #ccc;
    margin-left: 30px;
}
@media (min-width: 768px)and (max-width: 991.98px) {
    .notification .process::before {
        top: 195px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 96%;
        height: 1px;
        background-color: #ccc;
        margin-left: 30px;
    }
 }
.reservation_tab .reservation_icon {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #004876;
    line-height: 100px;
    border: 1px solid #e2e2e2;
    font-size: 40px;
    cursor: pointer;
}

.reservation_tab .chosen {
    color: #fff;
    background-color: #61c3d7;
    border: 1px solid #61c3d7;
}

.notification .result_area {
    min-height: 300px;
    background-color: #fff;
    margin-top: 25px;
    width: 90%;
    margin: 30px auto;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);

}

/* ***********************************************************************************************
    Media Query
**************************************************************************************************/

@media (max-width: 992px) {

    
    .all-clincs .clinic-card {
        padding: 0;
        max-width: 100% !important;
        margin: 0;
        margin-bottom: 30px;
    }

    /* upper navbarbar && navbar */
    .upper-bar {
        display: none;
    }

    .navbar .contact-media-nav {
        display: inline-block;
    }

    .navbar .contact-media-nav a {
        color: #fff;
        padding: 0 3px;
        font-size: 19px;
        font-weight: bold;
    }

    .navbar {
        background-color: #004876 !important;
    }

    .navbar .navbar-brand .main-media {
        display: none;
    }

    .navbar .navbar-brand .media {
        display: inline-block;
        margin-left: 40px;
    }

    .navbar .doc-media {
        display: inline-block;
    }

    .navbar-light .navbar-toggler {
        position: absolute;
        left: 10px;
        top: 9px;
        background-color: transparent;
        border-color: transparent !important;
    }

    .navbar-light .fa-bars:before {
        color: #fff;
        font-size: 30px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
    }

    .navbar .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 0;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #fff;

    }

    /* upper footer && footer */

    .upper-footer {
        display: none;
    }

    .footer {
        padding: 30px 0;
        height: 70px;
        width: 100%;
        background: #004876;
        color: #fff;
        padding: 10px 0 0;
    }

    .footer a {
        font-weight: 500;
        opacity: 0.7;
        font-size: 1rem;
    }

    .footer h6 {
        font-weight: 500;
        opacity: 0.7;
        font-size: 1rem;
        text-align: start;
    }


    /*landing page media query max width 768px */
    .filtering {
        padding: 30px 40px;
    }

    .filtering h4 {
        font-size: 20px;
        line-height: 30px;
        text-align: start;
        font-weight: 500;
        margin-bottom: 25px;
    }


    .filtering .btn-warning {
        display: none;
    }

    .filtering .btn-primary {
        display: inline-block;
        width: 100%;
        color: #fff;
        background-color: #004f6d;
        margin-top: 20px;
    }

    .filtering .btn-primary:hover {
        background-color: #0facf3;
        color: #fff;

    }

    .filtering .all-categories img {
        margin-top: 30px;
    }

    .all-clincs  {
        padding: 30px 0;
    }
    /*///////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////
    reservation page media queiries max 768
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    */
    .notification .process::before {
        top: 180px;
        bottom: 0;
        right: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
     }
    .reservation_tab .reservation_icon {
        background-color: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: #004876;
        line-height: 70px;
        border: 1px solid #e2e2e2;
        font-size: 27px;
        cursor: pointer;
    }
    .reservation_tab h5{
        font-size: 14px;
    }
    .notification .table thead th{
        font-size: 12px;
    }

}

@media (max-width: 992px) {


    .all-clincs .clinic-card {
        padding: 0;
        max-width: 100% !important;
        margin: 0;
        margin-bottom: 30px;
    }

    /* upper navbarbar && navbar */
    .upper-bar {
        display: none;
    }

    .navbar .contact-media-nav {
        display: inline-block;
    }

    .navbar .contact-media-nav a {
        color: #fff;
        padding: 0 3px;
        font-size: 19px;
        font-weight: bold;
    }

    .navbar {
        background-color: #004876 !important;
    }

    .navbar .navbar-brand .main-media {
        display: none;
    }

    .navbar .navbar-brand .media {
        display: inline-block;
        margin-left: 40px;
    }

    .navbar .doc-media {
        display: inline-block;
    }

    .navbar-light .navbar-toggler {
        position: absolute;
        left: 10px;
        top: 9px;
        background-color: transparent;
        border-color: transparent !important;
    }

    .navbar-light .fa-bars:before {
        color: #fff;
        font-size: 30px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
    }

    .navbar .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 0;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #fff;

    }

    /* upper footer && footer */

    .upper-footer {
        display: none;
    }

    .footer {
        padding: 30px 0;
        height: 70px;
        width: 100%;
        background: #004876;
        color: #fff;
        padding: 10px 0 0;
    }

    .footer a {
        font-weight: 500;
        opacity: 0.7;
        font-size: 1rem;
    }

    .footer h6 {
        font-weight: 500;
        opacity: 0.7;
        font-size: 1rem;
        text-align: start;
    }

    /*landing media query */
    .main .bewell-app {
        padding: 0;
        min-height: 100vh;
    }
    .bewell-app .mobile-app img {
        width: 50%;
        margin-top: 21px;
        margin-left: 20%;
        display: none;
    }

    .bewell-app .mobile-app-query img {
        display: inline-block;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .mobile-app-desc {
        width: 100%;
        margin: 0 30px;
    }

    .bewell-app .mobile-app-desc {
        padding: 21px 70px;
    }

    .bewell-app .mobile-app-desc h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .bewell-app .mobile-app-desc ul li {
        font-size: 13px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .bewell-app .send-app-link {
        padding: 30px 0;
    }

    .bewell-app .send-app-link .form-control {
        margin-bottom: 10px;
        width: 200px;
    }

    .bewell-app .send-app-link label {
        opacity: 1;
        font-weight: 600;
        text-align: left !important;
        font-size: 11px;
        margin: 0;
    }

    .bewell-app .send-app-link img {
        padding: 0;
        margin-bottom: 10px;
        margin-bottom: 10px;
        width: 200px;
        height: 46px;
    }


    .a-good-doc {
        min-height: 100vh;
        padding: 30px 40px;
    }

    .a-good-doc h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .a-good-doc h4 {
        margin-bottom: 20px;
        font-size: 17px;
    }

    .a-good-doc ul {
        margin-left: 20px;
        margin-bottom: 40px;

    }

    .a-good-doc ul li {
        font-size: 13px;
    }

    .a-good-doc .btn-warning {
        width: 100%;
        margin-bottom: 40px;
    }

    .a-good-doc .doc-img img {
        width: 90%;
    }

    .partners {
        padding: 30px 40px;
    }

    .partners h1 {
        font-size: 30px;
        margin-bottom: 20px;
        width: 100%;
    }

    .partners .part-desc {
        height: 100%;
        margin: auto 0;
    }

    .partners h4 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .partners .btn-warning {
        width: 100%;
    }

    .partners .squar-logo {
        margin: 0px 31%;
    }

    .partners .wide-logo {
        margin-left: 50px;
    }

    /* Doctors Page */

    .doctor-info{
        margin: 0;
        padding: 0 ;
    }

    .help-filter{
        margin-bottom: -78px;
    }
/*//////////////////////////////////////////////////////////////////////////////
DOCTOR dETAILS AND RESERVATION cONFIRMATION HAHAHHAH
*/
.doctor-card .doctor-card__side label{
    display: none;
}
.doctor-card .doctor-card__side .form-control{
    margin-top: 10px;
}
    /* CLINICS PAGE */

    .all-clincs .clinic-card {
        width: 100% !important;
    }
    .all-clincs .clinic-card {
        padding: 10px;
    }
}

@media (max-width: 576px){

    .doctor-info .calendar-days span{
        font-size: 12px;
    }
    .doctor-info .calendar-time .btn{
        width: 80px !important;
        font-size: 11px;
    }
.doctor-info .member-information{
    width: 50%;
}
    .doctor-info .larg-media{
        display: none;
    }
    .doctor-info .small-media{
        display: block;
    }
    .carousel-control-next {
        top: -75px;
        width: 0px;
    }
    .carousel-control-next-icon:after {
        font-size: 24px;
    }
    .carousel-control-prev {
        top: -75px;
        width: 0px;
    }
    .carousel-control-prev-icon:after {
        font-size: 24px;
    }


    .labs {
        padding-left: 25px;
        margin: 0;
    }
    .all-clincs{
        padding: 30px 0;
    }

}





/***************************************************************************************
                    RADIOLOGY page
****************************************************************************************/

.human .card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
    -webkit-transition: color 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, box-shadow 200ms ease;
    margin-left: -7px;
}


.human .switch-card {
    width: 100%;
    padding: 0 18px;
}

.human .switch-card li {
    display: inline-block;
    padding: 7px;
    line-height: 25px;
    background-color: #607D8B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 30px;
}

.human .switch-card .selected {
    background-color: #61c3d7;
    color: #fff;
}


.human .human-card-content .tab-mal-back {
    display: none;
}

.human .human-card-content .tab-fem-face {
    display: none;
}

.human .human-card-content .tab-fem-back {
    display: none;
}

.human .human-card-content .scroll {
    height: 435px;
    overflow-y: auto;
    overflow-x: hidden;
}

.human .card ul li {
    list-style-type: none;
    color: #607D8B;
    padding: 9px 5px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(164, 217, 243, 0.2);

}

.human .card ul li:hover {
    background-color: rgb(219, 219, 219);
}

.human .card ul li a {
    text-decoration: none;
}

.human .card-body {
    padding: 15px 0;
}
