.signup {
    min-height: 100vh;
    width: 100%;
    padding: 70px 130px;
    background-color: #61c3d7;
  }
  
  .signup__form-control {
    display: block;
    height: 45px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 2px solid #ecf0f1;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 25px;
  }
  .signup__check-control{
    font-size: 21px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .form-check-inline .form-check-input {
    width: 20px;
    height: 20px;
}
  .signup__h3 {
    font-size: 37px;
    color: #fff;
    text-align: center;
  }
  
  .signup__span {
    font-size: 19px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px !important;
  }
  
  .signup__h4 {
    font-size: 17px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  .signup__h5{
    font-size: 21px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
  }
 
  .signup__login__btn {
    color: #fff;
    border: 2px solid #084975;
  }
  .singup__forget{
    color: #fff;
    margin-left: 30px;
  }
  .singup__forget:hover{
    color: #084975;
    text-decoration: none; 
  }
  .signup__text{
    padding-left: 65px;
  }
  .signup__text__h5{
    color: #fff;
  }
  .signup__text__h6{
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
  }
  .signup__text__span a{
    color: #fff;  
    display: block;
    font-size: small;
    margin:10px 0;
    font-size: 19px;
  }
  .signup__text__span a:hover{
    text-decoration: none;
    color: #084975;
  }

  
  /*Meida queries
  /////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////
  */
  
  
  @media (max-width: 992px) {
  
    .signup::after {
  
      display: none;
    }
    .singup__forget{
      color: #fff;
      margin-left: 5px;
    }
    .signup__text{
      margin-top: 30px;
      padding-left: 10px;
    }
    .signup {
      padding: 50px;
    }
    
    }
    