
.human .switch-card{
    margin-top: 10px;
    width: 100%;
    padding: 0 18px;
}
.human .switch-card li{
    display: inline-block;
    padding: 9px;
    line-height: 15px;
    background-color: #607D8B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}
.human .switch-card .selected{
    background-color: #dc3545;
    color: #fff;
}
.human .human-card-content .tab-mal-back {
    display: none;
}
.human .human-card-content .tab-fem-face {
    display: none;
}
.human .human-card-content .tab-fem-back {
    display: none;
}
