.upper-footer {
  padding: 50px 50px 10px;
  background-color: #185a9d;
  color: white;
}

.upper-footer img {
  margin-bottom: 10px;
  margin-left: -30px;
  margin-top: -20px;
}

.upper-footer h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  opacity: 1;
}

.upper-footer li {
  color: #d1d1d1;
  padding: 7px 0;
  font-size: 14px;
}

.upper-footer li a {
  text-transform: uppercase;
  color: #d1d1d1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 14px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -moz-text-decoration-line: none;
}
/*# sourceMappingURL=footer.css.map */