body {
  margin: 0;
  padding: 0;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main {
  min-height: calc(100vh - 38px - 80px - 40px);
}

/* -------------------------------------------------------------------------------------
                            NavBAr 
--------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------
                            Footer
--------------------------------------------------------------------------------------*/
footer {
  padding: 50px 50px 10px;
  background-color: #343a40;
  color: white;
}

footer img {
  margin-bottom: 10px;
  margin-left: -30px;
  margin-top: -20px;
}

footer h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  opacity: 1;
}

footer li {
  color: #d1d1d1;
  padding: 7px 0;
  font-size: 14px;
}

footer li a {
  text-transform: uppercase;
  color: #d1d1d1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 14px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -moz-text-decoration-line: none;
}

footer li a:hover {
  color: #4180cb;
}

footer .fab {
  background-color: #fff;
  border-radius: 3px;
  color: #152f4f;
  height: 27px;
  width: 27px;
  padding: 3px 0px 0 4px;
  font-size: 21px;
  -webkit-transition: color 0.2;
  transition: color 0.2;
}

footer .fab:hover {
  color: #4180cb;
}

footer p {
  font-size: 14px;
  opacity: 0.5;
}

footer .social-icon {
  margin-bottom: 45px;
  margin-top: 45px;
}

footer .fas {
  font-size: 16px;
  color: #fff;
  padding-right: 7px;
}

footer .contactus h6 {
  font-size: 14px;
}

footer .contactus p {
  font-size: 12px;
  margin: 0;
}

footer .contactus .egy-address {
  margin-top: 10px;
}

footer .contactus .egy-address h6 {
  padding-top: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

footer .contactus .egy-address span {
  font-weight: 300;
}

footer .contactus .egy-address p {
  margin: 0;
  font-size: 12px;
}

footer .footer__sub {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

footer .btn,
footer .form-control {
  border-radius: 0 !important;
}

/* -------------------------------------------------------------------------------------
                    Catalouge
--------------------------------------------------------------------------------------*/
.catalogue {
  padding: 30px 100px;
}

.catalogue h1 {
  font-size: 33px;
  opacity: 0.5;
  font-weight: bold;
}

.catalogue .bewell-catalog {
  padding: 35px 30px;
}

.catalogue .bewell-catalog h3 {
  padding: 15px 0;
  font-size: 23px;
  opacity: 0.5;
  font-weight: bold;
}

.catalogue .bewell-catalog .bewell-catalog__card .card {
  margin-bottom: 25px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
          box-shadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card-img-top {
  height: 220px;
  padding: 7px 5px;
  background-image: url("https://via.placeholder.com/150x300/bbbbbb/21212121?text=logo");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card-body {
  padding: 0 !important;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card__merchant-logo {
  padding: 7px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(148, 196, 219, 0.2);
          box-shadow: 0 2px 4px 0 rgba(148, 196, 219, 0.2);
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card__merchant-logo img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: inline-block;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card__merchant-logo h4 {
  display: inline-block;
  opacity: 0.6;
  font-weight: bold;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card_tilt {
  padding: 10px;
  font-size: 16px;
  margin: 0 !important;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card__text {
  font-size: 14px;
  padding: 0 10px !important;
}

.catalogue .bewell-catalog .bewell-catalog__card .card .card__h6 {
  padding: 0 0 20px 10px;
  opacity: 0.8;
}

.catalogue .bewell-merchants h3 {
  padding: 15px 0;
  font-size: 23px;
  opacity: 0.5;
  font-weight: bold;
}

.catalogue .bewell-merchants .bewell-merchants__carousel {
  padding: 0 35px;
}

.catalogue .bewell-merchants .bewell-merchants__carousel img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.catalogue .bewell-merchants .bewell-merchants__carousel .carousel-control-next,
.catalogue .bewell-merchants .bewell-merchants__carousel .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  color: #000;
  opacity: 1;
}

.catalogue .carousel-control-prev .fas {
  left: -40px !important;
  font-size: 50px;
  position: absolute;
  top: 55px;
}

.catalogue .carousel-control-next .fas {
  right: -35px !important;
  font-size: 50px;
  position: absolute;
  top: 55px;
}

/* -------------------------------------------------------------------------------------
                    Rewards Details
--------------------------------------------------------------------------------------*/
.reward-wrapper {
  padding: 30px 100px;
}

.reward-wrapper .reward-wrapper__header .reward-wrapper__header__img {
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  border: 2px solid #212121;
}

.reward-wrapper .reward-wrapper__header .reward-wrapper__header__h3 {
  display: inline-block;
}

.reward-wrapper .reward-wrapper__header .reward-wrapper__header__p {
  display: inline-block;
}

.reward-wrapper .reward-wrapper__header .sperate {
  margin-left: 30px;
}

.reward-wrapper .reward-wrapper__container {
  margin-top: 35px;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__payment {
  border-right: 1px solid #c8c8c8;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__payment h4 {
  font-size: 19px;
  font-weight: bold;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__payment h5 {
  font-weight: bold;
  opacity: 0.5;
  font-size: 17px;
  font-weight: bold;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__payment span {
  font-size: 12px;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__payment button {
  width: 220px;
  margin-bottom: 15px;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__details .card {
  border: none !important;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__details button {
  width: 250px;
  height: 50px;
  margin-top: 25px;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__details .wrapper-reward__address {
  padding: 15px;
}

.reward-wrapper .reward-wrapper__container .reward-wrapper__details .wrapper-reward__address h5 {
  font-size: 15px;
  opacity: 0.5;
}

/* -------------------------------------------------------------------------------------
                    Rewards Login
--------------------------------------------------------------------------------------*/
.log-wrapper {
  padding: 30px 100px;
}

.log-wrapper button {
  width: 150px;
  height: 50px;
}

/* -------------------------------------------------------------------------------------
                    Confirm Rewards
--------------------------------------------------------------------------------------*/
.confirm-wrapper {
  padding: 30px 100px;
}

.confirm-wrapper .card .card-body {
  padding-top: 0 !important;
}

.confirm-wrapper .card .card-title {
  font-weight: bold;
}

.confirm-wrapper .confirm-wrapper__merchant {
  padding: 15px;
}

.confirm-wrapper .confirm-wrapper__merchant h4 {
  opacity: 0.5;
  display: inline-block;
}

.confirm-wrapper .confirm-wrapper__merchant img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.confirm-wrapper button {
  width: 220px;
  height: 45px;
}

/* -------------------------------------------------------------------------------------
                            USER PROFILE
--------------------------------------------------------------------------------------*/
.profile-wrapper {
  padding: 30px 100px;
}

.profile-wrapper .profile-wrapper__media {
  width: 70%;
}

.profile-wrapper .profile-wrapper__media .fas {
  font-size: 20px;
  margin-top: 7px;
}

.profile-wrapper .profile-wrapper__media span:last-child {
  margin-left: 5px;
}

.profile-wrapper .profile-wrapper__media span {
  margin-right: 10px;
}

.profile-wrapper .reservation .nav-pills .nav-link.active {
  background-color: #343a40 !important;
  color: #fff;
}

.profile-wrapper .reservation .nav-pills a {
  color: #343a40;
}

.profile-wrapper .tab-content {
  padding: 15px 0;
}

.profile-wrapper .tab-content button {
  margin-top: 10px;
  width: 90px;
}

.profile-wrapper .tab-content .tab-content__filter {
  border-right: 1px solid #c8c8c8;
}

.profile-wrapper .tab-content .form-check {
  margin-top: 9px !important;
}

.profile-wrapper .tab-content .tab-content__media {
  border-right: 1px solid #c8c8c8;
}

.profile-wrapper .tab-content .tab-content__laboratory {
  margin-top: 25px;
}

.profile-wrapper .tab-content .tab-content__result-media {
  width: 80%;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid #c8c8c8;
}

.profile-wrapper .tab-content .tab-content__result-media h5 {
  opacity: 0.7;
}
/*# sourceMappingURL=main_style.css.map */