<footer class="upper-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-12 ">
                <a class="footer-logo" href="https://booking-staging.balsamee.com/">
                    <img src="/assets/logo45white@2x.png">
                </a>
                <p class="text-white-50">BeWell offers solutions for all specialties and healthcare providers
                </p>
                <div class="social-icon">
                    <a href="https://www.twitter.com/balsamee_ltd?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/balsamee/"><i class="fab fa-facebook-f "></i></a>
                    <a href="https://instagram.com/balsamee.app?igshid=40h4jztlb6n9"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/balsamee"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>


            <div class="col-md-2 col-xs-12">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li><a href="https://balsamee.com/visiting-doctor?lang=en">Doctors</a></li>
                    <li><a href="https://balsamee.com/medical-services?lang=en">Clinics</a></li>
                    <li><a href="https://balsamee.com/camhs?lang=en">Specialties</a></li>
                    <li><a href="https://balsamee.com/health-tips?lang=en">Labs</a></li>
                    <li><a href="https://balsamee.com/health-tips?lang=en">radiologies</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12">
                <h5>Policy</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Terms Of use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Secuirty</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12">
                <h5>Partners</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Balsamee</a></li>
                    <li><a href="#">Nabda Care </a></li>
                    <li><a href="#">Alfa Group</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <h5>Subscrib</h5>
            <p>Lorem ducimus repudiandae aliquid veniam porro et minus. Corrupti officiis culpa, libero iusto sint esse quisquam.
                </p>
                <div class="form-row">
                    <div class="form-group col-7 footer__sub">
                        <input  type="email" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-3 footer__sub">
                        <button class="btn btn-warning">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>