.upper-footer {
    padding: 50px 50px 10px;
    background-color: #185a9d;
    color: white;

    img {
        margin-bottom: 10px;
        margin-left: -30px;
        margin-top: -20px;
    }
    h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 17px;
        opacity: 1;
    }
    li {
        color: rgb(209, 209, 209);
        padding: 7px 0;
        font-size: 14px;
    }
    li a {
        text-transform: uppercase;
        color: rgb(209, 209, 209);
        transition: color 0.2s;
        font-size: 14px;
        text-decoration-line: none;
        -moz-text-decoration-line: none;
    
    }
}