$mainColor:#343a40;
$secColor:#c8c8c8;
$wrapperPadding: 30px 100px;
$secPadding: 35px 30px;
$headPadding: 15px 0;
$headFont: 23px;
$fontOacity:0.5;
$headFontSize: 23px;
$subHeadFont: 17px;
$boxShadow: 0 2px 4px 0 rgba(5, 150, 222, 0.2);

body {
    margin: 0;
    padding: 0;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.main{
    min-height: calc(100vh - 38px - 80px - 40px);
}

/* -------------------------------------------------------------------------------------
                            NavBAr 
--------------------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------------------
                            Footer
--------------------------------------------------------------------------------------*/

footer {
    padding: 50px 50px 10px;
    background-color: $mainColor;
    color: white;

    img {
        margin-bottom: 10px;
        margin-left: -30px;
        margin-top: -20px;
    }

    h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 17px;
        opacity: 1;
    }

    li {
        color: rgb(209, 209, 209);
        padding: 7px 0;
        font-size: 14px;
    }

    li a {
        text-transform: uppercase;
        color: rgb(209, 209, 209);
        transition: color 0.2s;
        font-size: 14px;
        text-decoration-line: none;
        -moz-text-decoration-line: none;
    }

    li a:hover {
        color: #4180cb
    }

    .fab {
        background-color: #fff;
        border-radius: 3px;
        color: #152f4f;
        height: 27px;
        width: 27px;
        padding: 3px 0px 0 4px;
        font-size: 21px;
        transition: color 0.2;
    }

    .fab:hover {
        color: #4180cb;
    }

    p {
        font-size: 14px;
        opacity: $fontOacity;
    }

    .social-icon {
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .fas {
        font-size: 16px;
        color: #fff;
        padding-right: 7px;
    }

    .contactus h6 {
        font-size: 14px;
    }

    .contactus p {
        font-size: 12px;
        margin: 0;
    }

    .contactus .egy-address {
        margin-top: 10px;
    }

    .contactus .egy-address h6 {
        padding-top: 3px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin: 0;
    }

    .contactus .egy-address span {
        font-weight: 300;
    }

    .contactus .egy-address p {
        margin: 0;
        font-size: 12px;
    }

    .footer__sub {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .btn,
    .form-control {
        border-radius: 0 !important;
    }
}

/* -------------------------------------------------------------------------------------
                    Catalouge
--------------------------------------------------------------------------------------*/
.catalogue {
    padding: $wrapperPadding;

    h1 {
        font-size: 33px;
        opacity: $fontOacity;
        font-weight: bold;
    }

    .bewell-catalog {
        padding: $secPadding;

        h3 {
            padding: $headPadding;
            font-size: $headFont;
            opacity: $fontOacity;
            font-weight: bold;
        }

        .bewell-catalog__card .card {
            margin-bottom: 25px;
            border: none;
            box-shadow: $boxShadow;

            .card-img-top {
                height: 220px;
                padding: 7px 5px;
                background-image: url('https://via.placeholder.com/150x300/bbbbbb/21212121?text=logo');
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
            }

            .card-body {
                padding: 0 !important;
            }

            .card__merchant-logo {
                padding: 7px;
                box-shadow: 0 2px 4px 0 rgba(148, 196, 219, 0.2);

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    display: inline-block;
                }

                h4 {
                    display: inline-block;
                    opacity: 0.6;
                    font-weight: bold;
                }
            }

            .card_tilt {
                padding: 10px;
                font-size: 16px;
                margin: 0 !important;
            }

            .card__text {
                font-size: 14px;
                padding: 0 10px !important;
            }

            .card__h6 {
                padding: 0 0 20px 10px;
                opacity: 0.8;
            }
        }
    }

    .bewell-merchants {
        h3 {
            padding: $headPadding;
            font-size: $headFont;
            opacity: $fontOacity;
            font-weight: bold;
        }

        .bewell-merchants__carousel {
            padding: 0 35px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 100%;
            }

            .carousel-control-next,
            .carousel-control-prev {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 20px;
                color: #000;
                opacity: 1;
            }
        }
    }

    .carousel-control-prev .fas {
        left: -40px !important;
        font-size: 50px;
        position: absolute;
        top: 55px;
    }

    .carousel-control-next .fas {
        right: -35px !important;
        font-size: 50px;
        position: absolute;
        top: 55px;
    }

    //Carousel
}

/* -------------------------------------------------------------------------------------
                    Rewards Details
--------------------------------------------------------------------------------------*/
.reward-wrapper {
    padding: $wrapperPadding;
    .reward-wrapper__header {
        // padding: 15px 0;
        .reward-wrapper__header__img {
            display: inline-block;
            height: 110px;
            width: 110px;
            border-radius: 100%;
            border: 2px solid #212121;
        }
        .reward-wrapper__header__h3 {
            display: inline-block;
        }
        .reward-wrapper__header__p {
            display: inline-block;
        }
        .sperate {
            margin-left: 30px;
        }
    }
    .reward-wrapper__container {
        margin-top: 35px;
        .reward-wrapper__payment {
            border-right: 1px solid $secColor;
            h4 {
                font-size: 19px;
                font-weight: bold;
            }
            h5 {
                font-weight: bold;
                opacity: 0.5;
                font-size: 17px;
                font-weight: bold;
            }
            span {
                font-size: 12px;
            }
            button {
                width: 220px;
                margin-bottom: 15px;
            }
        }
        .reward-wrapper__details {
            .card {
                border: none !important;
            }
            button {
                width: 250px;
                height: 50px;
                margin-top: 25px;
            }
            .wrapper-reward__address {
                padding: 15px;

                h5 {
                    font-size: 15px;
                    opacity: $fontOacity;
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------------------
                    Rewards Login
--------------------------------------------------------------------------------------*/
    .log-wrapper{
        padding: $wrapperPadding;
        button{
            width: 150px;
            height: 50px;
        }
    }

/* -------------------------------------------------------------------------------------
                    Confirm Rewards
--------------------------------------------------------------------------------------*/
.confirm-wrapper{
    padding: $wrapperPadding;
    .card{
        // border: none !important;
        .card-body{
            padding-top: 0 !important;
        }
        .card-title{
            font-weight: bold;
        }
    }
    .confirm-wrapper__merchant{
        padding: 15px;
        h4{
            opacity: $fontOacity;
            display: inline-block;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    }
    button{
        width: 220px;
        height: 45px;
    }
}
/* -------------------------------------------------------------------------------------
                            USER PROFILE
--------------------------------------------------------------------------------------*/
.profile-wrapper{
    padding: $wrapperPadding;
    .profile-wrapper__media{
        width: 70%;
        .fas{
            font-size: 20px;
            margin-top: 7px;
        }
        span:last-child{
            margin-left: 5px;
        }
        span{
            margin-right: 10px;
        }
    }
    .reservation{
        .nav-pills .nav-link.active{
            background-color: $mainColor !important;
            color: #fff;
        }
        .nav-pills a{
            color: $mainColor
        }
    }
    .tab-content{
        button{
            margin-top: 10px;
            width: 90px
        }
        padding: 15px 0;
        .tab-content__filter{
            border-right: 1px solid $secColor;
        }
        .form-check{
            margin-top: 9px !important;
        }
        .tab-content__media{
            border-right: 1px solid $secColor;
        }
        .tab-content__laboratory{
            margin-top: 25px;
        }
        .tab-content__result-media{
            width: 80%;
            margin: 20px auto;
            padding: 25px;
            border: 1px solid $secColor;
            h5{
                opacity: 0.7;
            }
        }
    }
}
